flask
flask-cors
youtube-transcript-api
langchain
langchain-huggingface
langchain-community
langchain-core
langchain-google-genai
python-dotenv
faiss-cpu
sentence-transformers
google-generativeai
tf-keras
